@font-face {
  font-family: 'Pobeda';
  src: url('../fonts/pobeda/Pobeda-Bold.eot');
  src: local('Pobeda Bold'), local('Pobeda-Bold'),
  url('../fonts/pobeda/Pobeda-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pobeda/Pobeda-Bold.woff2') format('woff2'),
  url('../fonts/pobeda/Pobeda-Bold.woff') format('woff'),
  url('../fonts/pobeda/Pobeda-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pobeda';
  src: url('../fonts/pobeda/Pobeda-Regular.eot');
  src: local('Pobeda Regular'), local('Pobeda-Regular'),
  url('../fonts/pobeda/Pobeda-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pobeda/Pobeda-Regular.woff2') format('woff2'),
  url('../fonts/pobeda/Pobeda-Regular.woff') format('woff'),
  url('../fonts/pobeda/Pobeda-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/Helvetica.eot');
  src: local('Helvetica'),
  url('../fonts/helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/Helvetica.woff2') format('woff2'),
  url('../fonts/helvetica/Helvetica.woff') format('woff'),
  url('../fonts/helvetica/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/Helvetica-Oblique.eot');
  src: local('Helvetica Oblique'), local('Helvetica-Oblique'),
  url('../fonts/helvetica/Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/Helvetica-Oblique.woff2') format('woff2'),
  url('../fonts/helvetica/Helvetica-Oblique.woff') format('woff'),
  url('../fonts/helvetica/Helvetica-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/Helvetica-BoldOblique.eot');
  src: local('Helvetica Bold Oblique'), local('Helvetica-BoldOblique'),
  url('../fonts/helvetica/Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/Helvetica-BoldOblique.woff2') format('woff2'),
  url('../fonts/helvetica/Helvetica-BoldOblique.woff') format('woff'),
  url('../fonts/helvetica/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/Helvetica-Light.eot');
  src: local('Helvetica Light'), local('Helvetica-Light'),
  url('../fonts/helvetica/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/Helvetica-Light.woff2') format('woff2'),
  url('../fonts/helvetica/Helvetica-Light.woff') format('woff'),
  url('../fonts/helvetica/Helvetica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/Helvetica-Bold.eot');
  src: local('Helvetica Bold'), local('Helvetica-Bold'),
  url('../fonts/helvetica/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/Helvetica-Bold.woff2') format('woff2'),
  url('../fonts/helvetica/Helvetica-Bold.woff') format('woff'),
  url('../fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/Helvetica-LightOblique.eot');
  src: local('Helvetica Light Oblique'), local('Helvetica-LightOblique'),
  url('../fonts/helvetica/Helvetica-LightOblique.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/Helvetica-LightOblique.woff2') format('woff2'),
  url('../fonts/helvetica/Helvetica-LightOblique.woff') format('woff'),
  url('../fonts/helvetica/Helvetica-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

